/* Global styles */

body {
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 18px;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

/* Define styles for images */
img {
    max-width: 100vw; /* Set maximum width to 100% of viewport width */
    max-height: 100vh; /* Set maximum height to 100% of viewport height */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is treated as a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}

/* Define a CSS class for figures */
figure {
    max-width: 100vw; /* Set maximum width to 100% of viewport width */
    max-height: 100vh; /* Set maximum height to 100% of viewport height */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is treated as a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}

/* Navigation menu styles */
nav {
    background-color: #333333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555555;
}

/* Main content styles */
.main-content {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Define font size for table headers */
th {
    font-size: 22px; /* Change the value as needed */
}

/* Define font size for table data */
td {
    font-size: 18px; /* Change the value as needed */
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add a border around the table */
  }
  
.styled-table th, .styled-table td {
padding: 8px;
text-align: left;
}

.styled-table th {
background-color: #f2f2f2; /* Light gray background for table headers */
}

.styled-table tr:nth-child(even) {
background-color: #f2f2f2; /* Alternate row background color */
}

.styled-table tr:hover {
background-color: #ddd; /* Hover effect for rows */
}

.styled-table th, .styled-table td {
border-bottom: 1px solid #ddd; /* Add bottom border to cells */
}

.styled-table td:first-child, .styled-table th:first-child {
border-left: 1px solid #ddd; /* Add left border to first column */
}

.styled-table td:last-child, .styled-table th:last-child {
border-right: 1px solid #ddd; /* Add right border to last column */
}
